body {
    background: rgb(24, 24, 88);
    font-family: sans-serif
}
#todoconteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


p {
    font-size: 40px;
}

button {
    border-radius: 50px;
    background: black;
    width: 35px;
    height: 35px;
    color: rgb(68, 0, 255);

}

#counter {
    display: flex;
}

#currentNumber {

    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 35px;
}