body {
    background: white;
}


#desc {
    font-size: 30px;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}

.artigo {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0;
    margin-bottom: 40px;
    border: 3px solid black;  
    border-radius: 10px;
}

#nome {
    color:rgb(138, 6, 6);
}

.title
{
    color: rgb(146, 46, 46)
}

img {
    width: 100px;
    margin: auto;
}
